
body{
    font-family: 'Uchen', serif;
}

a{
    text-decoration: none;
}
h1{
    color: indianred;
    font-size: 30px;
}

h1>a{
    color:maroon
}
main{
    margin-top: 25%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 550px;
    background-repeat: no-repeat;
    justify-content: center;
}

header{
    background-image: url('images/exp-bg.png');
    align-items: center;
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-repeat: no-repeat;
    height: 500px;
}





.header{
    padding-top: 5%;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.header img{
    width: 100%;
    height: 100%;
}



main p{
    text-align: justify;
}

button{
    padding: 1%;
    background-image: linear-gradient(indianred,orange);
}

section{
    margin-top: 5%;
}

.skill{
    display: inline-block;
    width: 100%;
    text-align: justify;
}

.skill img{
    padding-left: 1%;
    width: 25%;
    height: 100px;
}

.project-section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 3;
    grid-gap: 30px;
}

@media screen and (max-width:1000px) {
    .project-section{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin-top: 3;
    }
    header{
        background-image: url('images/exp-bg.png');
        align-items: center;
        justify-content: space-between;
        display: flex;
        /* grid-template-columns: repeat(1,1fr); */
        background-repeat: no-repeat;
        height: 500px;
    }
    header img{
        width:80%;
    }
    main{
        display: flex;
        flex-wrap: nowrap;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 30px;
    }
}

.project{
    border:3px solid red;
    border-image: linear-gradient(purple,blue);
    border-image-slice: 4;
    width: 90%;
    padding:1%;
}

.project h1{
    text-align: center;
}

.project img{
    height: 100px;
    padding:0 25%;
    width: 50%;
}

footer{
    display: flex;
    margin-top: 3%;
    justify-content:space-evenly
}

.fa-facebook-square,.fa-linkedin-in{
    color:darkblue;
}

